.card {
    padding: 32px;
    background: #EAEAEA;
    position: relative;
    overflow: hidden;
    transition: all .26s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &__title {
        color: desaturate(darken(#182848, 3%), 8%);;
        border-bottom: 4px solid #ffa918;
    }

    $corner_size: 60px;

    &:hover {
        box-shadow: 0 1px 3px rgba(0, 0, 0, .08),
            1px 3px 5px rgba(0, 0, 0, .11)
            2px 4px 8px rgba(0, 0, 0, .13);
        transform: scale(1.05);
        transition: all .26s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &::after {
        width: $corner_size;
        height: $corner_size;
        background: #ffa918;
        content: '';
        position: absolute;
        top: -#{$corner_size / 2};
        right: -#{$corner_size / 2};
        transform: rotate(45deg);
    }
}